{
  "editor.formatOnSave": true,
  "singleQuote": true,
  "printWidth": 120,
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "trailingComma": "es5"
}